main {
  letter-spacing: 2px;
}

article {
  max-width: 1950px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  color: rgb(214, 214, 214);
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section p {
  width: 1000px;
  font-size: 1.3rem;
  text-align: center;
}

#glow {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 120px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.4) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(30px);
  pointer-events: none;
}

#missionVision {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mvWrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.vertical {
  height: 250px;
  width: 1px;
  background-color: rgb(144, 142, 142);
}

.mvWrappers p {
  width: 500px;
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 768px) {
  main {
    padding: 1rem;
    letter-spacing: 1px;
  }

  article {
    gap: 30px;
  }

  h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  section p {
    width: 90%;
    font-size: 1rem;
    text-align: center;
  }

  #glow {
    top: 100px;
    width: 120px;
    height: 70px;
    filter: blur(20px);
  }

  #missionVision {
    flex-direction: column;
    gap: 30px;
  }

  .mvWrappers p {
    width: 90%;
    font-size: 1rem;
  }

  .vertical {
    display: none;
  }

  .intro img {
    width: 150px;
    height: auto;
  }

  footer img {
    width: 30px;
    height: auto;
    margin: 0 10px;
  }
}
